.loader {
    position: relative;
    width: 0;
    height: 0;
    margin: 4em auto;
    animation: anim-rotate 1.2s infinite ease;

}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 10px;
    opacity: 0.9;
}

.loader:after {
    background: #F672D1;
    transform: translate(0.75em, -0.75em) scale(1);
    box-shadow: -1.5em 1.5em 0 #E2E2E2;
    animation: anim-3-4 1.2s infinite ease;
}

.loader::before {
    background: #74EDDF;
    transform: translate(-0.75em, -0.75em) scale(1);
    box-shadow: 1.5em 1.5em 0 black;
    animation: anim-1-2 1.2s infinite ease;
}

@keyframes anim-1-2 {
    50% {
        transform: scale(1.3) translate(0, 0);
        box-shadow: 0 0 0 black;
        opacity: 0.8;
    }
}

@keyframes anim-3-4 {
    50% {
        transform: scale(1.3) translate(0, 0);
        box-shadow: 0 0 0 #E2E2E2;
        opacity: 0.8;
    }
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}