@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Open-sans", sans-serif;
	width: 100%;
	font-size: 0.875rem;
}

:root {
	--primary: white;
	--secondary: #d4d4d4;
}

input {
	-webkit-appearance: none;
}
