@import "tailwindcss";
@import "@jigjoy-io/ui-library/dist/index.css";

body {
	margin: 0;
	font-family: "Open-sans", sans-serif;
	width: 100%;
	font-size: 0.875rem;
}

:root {
	--primary: white;
	--secondary: #d4d4d4;
}

input {
	-webkit-appearance: none;
}

@theme {
	/* Colors */
	--color-primary: #f672d1;
	--color-primary-light: #fbbeea;
	--color-default: #000000;
	--color-default-light: #e2e2e2;
	--color-light: #aaaaaa;

	--color-alert-success: #d1f4e0;
	--color-alert-danger: #fdd0df;
	--color-alert-info: #e6f3ff;

	--color-jig-brown: #f2eef0;
	--color-jig-green: #effdfb;
	--color-jig-rose: #fbbeea33;
	--color-jig-yellow: #fef7ea;
	--color-jig-blue: #e5effa;
	--color-jig-red: #fdd0df;

	--color-shallow-gray: #e5e7eb;
	--color-text-danger: #ed5249;
	--color-highlight: #dbeafe;
	--color-text-default: #e2e2e2;
	--color-dot-color: #4b5563;

	/* Shadow */
	--shadow: 0px 2px 8px rgba(17, 17, 26, 0.1), 0px 4px 12px rgba(17, 17, 26, 0.1), 0px 8px 28px rgba(17, 17, 26, 0.1);

	/* Gradients */
	--background-image-gradient-custom: linear-gradient(90deg, #d4e546 0%, #95ed3a 50%, #48ec92 100%);

	--background-image-gradient-custom-opacity: linear-gradient(
		90deg,
		rgba(212, 229, 70, 0.2) 0%,
		rgba(149, 237, 58, 0.2) 50%,
		rgba(72, 236, 146, 0.2) 100%
	);

	/* Typography */
	--text-title: 2.25rem;
	--text-title-line-height: 2.5rem;
	--text-title-font-weight: 700;

	--text-heading: 1.5rem;
	--text-heading-line-height: 2rem;
	--text-heading-font-weight: 700;

	--text-paragraph: 0.875rem;
	--text-paragraph-line-height: 1.25rem;
}
