name: Deploy to AWS S3
on:
  push:
    branches:
      - development

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: env

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Switch to Frontend Directory
        run: cd packages/cms

      - name: NodeJs Setup
        uses: actions/setup-node@v4
        with:
          node-version: 18
      
      - name: Dependency Installation
        run: npm install

      - name: Build
        run: npm run build

      - name: Config AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-key-id: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Deploy to AWS S3
        run: aws s3 sync dist s3://${{ secrets.BUCKET_NAME }}